html {
  box-sizing: border-box;
  width: 100vw;
  padding: 0;
  margin: 0;
  /* Standartfont Sourcecode */
  font-family: 'Source Code Pro', monospace;
  color: white;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*Body Reset*/
body {
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: rgb(0, 0, 0);
}


.loaders-wrapper {
  border: 3px solid grey;
  padding: 5%;
}





/* KEYFRAMES */
/* Spin */
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}


/* Gradient */
@-webkit-keyframes Gradient {
  0%    { border-image: 0% 50%; }
  50%   { border-image: 100% 50%; }
  100%  { border-image: 0% 50%; }
}
/* MOZ */
@-moz-keyframes Gradient {
  0%    { background-position: 0% 50%; }
  50%   { background-position: 100% 50%; }
  100%  { background-position: 0% 50%; }
}
/* REG */
@keyframes Gradient {
  0%    { background-position: 0% 50%; }
  50%   { background-position: 100% 50%; }
  100%  { background-position: 0% 50%; }
}


.a-loader-wrap, .b-loader-wrap, .c-loader-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}




/* Loader-1 */

.a-loader-1 {
  /* Size */
  width: 40vw;
  height: 40vw;
  background: none;
  border-radius: 50%;
  /* Get Invisible Border */
  border: 15px dashed transparent;
  /* Set Border Colors */
  border-top-color: rgba(238, 119, 82, 0.9);
  border-bottom-color: rgba(35, 213, 171, 0.9);
  border-width: 15px;
  /* Keyframes at top of file */
  -webkit-animation: spin 6s linear infinite;
  animation: spin 6s linear infinite;
  /* Posiiton first Ring */
  z-index: 10;
  display: block;
  position: relative;
}

.a-loader-1::before {
  content: "";
  border-radius: 50%;
  border: 15px dashed transparent;
  border-left-color: rgba(231, 60, 126, 0.9);
  border-right-color: rgba(35, 166, 213, 0.9);
  /* Animations */
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
  /* Position second Ring */
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
}

.a-loader-1::after {
  content: "";
  border-radius: 50%;
  border: 15px solid transparent;
  border-top-color: rgba(238, 119, 82, 0.9);
  border-bottom-color: rgba(35, 213, 171, 0.9);
  border-left-color: rgba(231, 60, 126, 0.9);
  border-right-color: rgba(35, 166, 213, 0.9);
  /* Animation */
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  /* Position for third Ring */
  position: absolute;
  top: 15%;
  left: 15%;
  right: 15%;
  bottom: 15%;
}

.a-loader-2 {
  position: absolute;
  top: 35%;
  left: 35%;
  right: 35%;
  bottom: 35%;
  border-radius: 50%;
  background: linear-gradient(-45deg,
                              rgba(238, 119, 82, 0.9),
                              rgba(231, 60, 126, 0.9),
                              rgba(35, 166, 213, 0.9),
                              rgba(35, 213, 171, 0.9)
                              );
  background-size: 400% 400%;
  /* Keyframes at top of file */
  -webkit-animation: Gradient 2s ease infinite;
}

.a-loader-3 {
  position: absolute;
  top: 35%;
  left: 35%;
  right: 35%;
  bottom: 35%;
  border-radius: 50%;
  background-color: black;
}

.a-loader-txt {
  font-size: 200%;
}





/* Second Loader */
.gradient-1 {
  width: 40vw;
  height: 40vw;
  background: linear-gradient(-45deg,
                              rgba(238, 119, 82, 0.9),
                              rgba(231, 60, 126, 0.9),
                              rgba(35, 166, 213, 0.9),
                              rgba(35, 213, 171, 0.9)
                              );
  background-size: 400% 400%;
  /* Keyframes at top of file */
  -webkit-animation: Gradient 2s ease infinite;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.hide-1 {
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 50%;
  border: 20px solid black;
  border-top-color: transparent;
  border-bottom-color: transparent;
  /* No Background under Border */
  background-clip: padding-box;
  /* Spin */
  -webkit-animation: spin 6s linear infinite;
  /* Align Gradient-2 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient-2 {
  width: 30vw;
  height: 30vw;
  background: linear-gradient(-45deg,
                              rgba(238, 119, 82, 0.9),
                              rgba(231, 60, 126, 0.9),
                              rgba(35, 166, 213, 0.9),
                              rgba(35, 213, 171, 0.9)
                              );
  background-size: 400% 400%;
  /* Keyframes at top of file */
  -webkit-animation: Gradient 2s ease infinite;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide-2 {
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 50%;
  border: 20px solid black;
  border-left-color: transparent;
  border-right-color: transparent;
  /* No Background under Border */
  background-clip: padding-box;
  /* Spin */
  -webkit-animation: spin 4.5s linear infinite;
  /* Align Gradient-2 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient-3 {
  width: 20vw;
  height: 20vw;
  background: linear-gradient(-45deg,
                              rgba(238, 119, 82, 0.9),
                              rgba(231, 60, 126, 0.9),
                              rgba(35, 166, 213, 0.9),
                              rgba(35, 213, 171, 0.9)
                              );
  background-size: 400% 400%;
  /* Keyframes at top of file */
  -webkit-animation: Gradient 2s ease infinite;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide-3 {
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 50%;
  border: 20px solid black;
  border-top-color: transparent;
  border-bottom-color: transparent;
  /* No Background under Border */
  background-clip: padding-box;
  /* Spin */
  -webkit-animation: spin 3s linear infinite;
  /* Align Gradient-2 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient-4 {
  width: 10vw;
  height: 10vw;
  background: linear-gradient(-45deg,
                              rgba(238, 119, 82, 0.9),
                              rgba(231, 60, 126, 0.9),
                              rgba(35, 166, 213, 0.9),
                              rgba(35, 213, 171, 0.9)
                              );
  background-size: 400% 400%;
  /* Keyframes at top of file */
  -webkit-animation: Gradient 2s ease infinite;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide-4 {
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 50%;
  border: 20px solid black;
  border-right-color: transparent;
  /* No Background under Border */
  background-clip: padding-box;
  /* Spin */
  -webkit-animation: spin 3s linear infinite;
  /* Align Gradient-2 */
  display: flex;
  justify-content: center;
  align-items: center;
}





/* Thrid Loader */
.gr-1 {
  width: 50vw;
  height: 50vw;
  background: linear-gradient(-90deg,
                              rgba(238, 119, 82, 0.9),
                              rgba(231, 60, 126, 0.9),
                              rgba(35, 166, 213, 0.9),
                              rgba(35, 213, 171, 0.9)
                              );
  background-size: 400% 400%;
  /* Keyframes at top of file */
  -webkit-animation: Gradient 2s ease infinite;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-1 {
  font-size: 200%;
  color: white;
}
